* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #fff;
    min-width: 1200px;
    font-family: "Microsoft YaHei";
}

/* .toplink-a {
  float: left;
  margin-left: 10%;
  margin-top:10px;
}
.toplink-b {
  float:right;
  margin-right: 10%;
  margin-top:30px;
}
.toplink-a img {
  width: 400px;
  height: auto;    
}

.toplink-b li {
  float:right;
  margin-right: 20px;
  list-style: none;  
} */

.toplink ul {
    width: 80%;
    margin: 0px auto;
    height: 38px;
    padding: 0;
}

.toplink ul li {
    float: left;
    list-style-type: none;
}

.toplink ul span {
    float: right;
    margin-top: 20px;
}

.toplink ul li a {
    margin-right: 20px;
    color: #f00;
}

.toplink ul li input {
    color: red;
    width: 150px;
    height: 30px;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fff;
    border-color: red;
    margin-right: 20px;
    border: 2px solid red;
}

.toplink ul li input:hover {
    color: #fed900;
}

.toplink ul li a:hover {
    color: #fed900;
}

/* .toplink-b li img:hover {
  transform: scale(1.2);
} */

.header {
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.nav {
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: table;
}

#wb,
#wx {
    position: absolute;
    z-index: 10;
}

#xqdt {
    background-color: #f5f5f5;
    width: 240px;
    height: 320px;
    top: 20%;
    position: relative;
    left: 0;
}

.nav ul {
    display: table-row;
}

.nav ul li {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
}

.nav ul li img {
    vertical-align: middle;
    width: 80px;
    height: auto;
}

.nav ul li img:hover {
    transform: scale(1.2);
}

.imglist {
    width: 80%;
    margin: auto;
    height: auto;
    display: table;
}

.imglist ul {
    display: table-row;
    text-align: center;
}

.imglist ul li {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
}

.imglist ul li img {
    vertical-align: middle;
    width: 200px;
    height: auto;
}

.imglist ul li img:hover {
    transform: scale(1.2);
}

img .on {
    transform: scale(1.2);
}

.footer {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.footer ul {
    position: absolute;
    top: 20%;
    left: 20%;
}

.footer ul li {
    padding-top: 10px;
    list-style: none;
}

.footer #weixin {
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
}

.footer #weibo {
    position: absolute;
    top: 20%;
    left: 60%;
    text-align: center;
}

.footer #app {
    position: absolute;
    top: 20%;
    left: 70%;
    text-align: center;
}

.autoscale {
    width: 100%;
    height: 500px;
}

#xscl {
    width: 100%;
    height: auto;
}

.box-1 {
    position: relative;
    margin-top: 10px;
    padding: 0;
    /* position: relative; */
    background-color: #fff;
    width: 80%;
    /* margin: auto; */
    box-shadow: 3px 3px 10px #666666;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    min-width: 1200px;
}

.box-1 h1 {
    text-align: center;
    /* border-left: 5px red solid;
    border-right: 5px red solid; */
    color: red;
    padding: 0;
}
.box-1 ul {
    padding-left: 40px;
    list-style: none;
}
.box-1 ul .sli {
    padding-bottom: 20px;
    list-style-image: url("../images/calendar.png");
    font-size: 18px;
}

.box-1 ul li {
    padding-bottom: 20px;
    font-size: 18px;
}

.box-1 ul .sli span {
    float: right;
    padding-right: 20px;
    color: #999999;
    font-family: "Arial";
    font-size: 18px;
    line-height: 32px;
}

.button {
    border: red 1px solid;
    margin-right: 20px;
    padding: 0, 10px;
    font-size: 20px;
    color: red;
    position: absolute;
    bottom: 5px;
    right: 0px;
}

.clr {
    clear: both;
}

.back {
    position: fixed;
    top: 80%;
    right: 20px;
    z-index: 10;
}

.back img {
    width: 50px;
    height: auto;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}
a:hover {
    color: red;
    font-size: 120%;
}

a:active {
    color: yellow;
}

.box-1 h2 {
    position: relative;
    color: red;
    top: 0px;
    left: 0px;
    border-left: 5px red solid;
    font-family: "Microsoft Yahei";
    font-size: 24;
}

.left {
    float: left;
    width: 33%;
    margin: 20px auto;
}

.left img:hover {
    transform: scale(1.2);
}

.right {
    float: right;
    max-width: 66%;
    /* margin: 20px auto; */
}

.right img:hover {
    transform: scale(1.2);
}

.mediacase {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
}

.mediacase img:hover {
    transform: scale(1.2);
}

.nested {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 5px;
    width: 100%;
}

img {
    margin: 0 auto;
    display: block;
}

.nested img {
    width: 380px;
    height: 290px;
    margin: 5px;
}

.nested img:hover {
    transform: scale(1.2);
}

#loopDiv {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

#left {
    position: absolute;
    left: 0px;
    top: 50%;
}
#right {
    position: absolute;
    right: 0px;
    top: 50%;
}

#list {
    list-style: none;

    position: absolute;
    bottom: 10px;
    left: 43%;
}
#list li {
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
    color: #fff;
}
.chooseBut {
    width: 50px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    display: none;
}

.box-1 .header-2 {
    position: relative;
}

.box-1 .header-2 h2 {
    position: relative;
    left: 0px;
    top: 0px;
}

.box-1 .header-2 p {
    position: relative;
    right: 0px;
    top: 0px;
    margin-right: 20px;
}

.box-2 {
    position: relative;
    margin-top: 10;
    padding: 0;
    /* position: relative; */
    background-color: #fff;
    width: 80%;
    margin: auto;
    box-shadow: 3px 3px 10px #666666;
    display: flex;
    max-width: 1400px;
    min-width: 1200px;
}

.box-2 ul {
    padding-left: 40px;
    list-style: none;
}

.box-2 ul li {
    padding-bottom: 20px;
    font-size: 18px;
}

.box-2 h2 {
    position: relative;
    color: red;
    top: 0px;
    left: 0px;
    border-left: 5px red solid;
    font-family: "Microsoft Yahei";
    font-size: 24;
}

.box-3 {
    position: relative;
    margin-top: 10px;
    padding: 0;
    /* position: relative; */
    background-color: #fff;
    width: 80%;
    margin: auto;
    box-shadow: 3px 3px 10px #666666;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    min-width: 1200px;
}

.box-3 ul {
    padding-left: 40px;
    list-style: none;
}

.box-3 ul li {
    padding-bottom: 20px;
    font-size: 18px;
}

.box-3 .img {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.box-3 .img img {
    width: 300px;
    height: 300px;
}

.box-3 .img img:hover {
    transform: scale(1.2);
}

.imglist2 {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    height: auto;
    display: table;
    z-index: 10;
}

.imglist2 ul {
    display: table-row;
    text-align: center;
}

.imglist2 ul li {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
}

.imglist2 ul li img {
    vertical-align: middle;
    width: 70px;
    height: auto;
}

.imglist2 ul li img:hover {
    transform: scale(2);
}

.box-3 h2 {
    position: relative;
    color: red;
    top: 0px;
    left: 0px;
    border-left: 5px red solid;
    font-family: "Microsoft Yahei";
    font-size: 24;
    width: 100px;
}

.hoverinfo {
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
}
.hoverinfo p {
    display: none;
    color: #000000;
}
.hoverinfo:hover p {
    background-color: rgba(255, 255, 255, 0.7);
    display: inline;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.modal-content label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.modal-content input[type="text"],
textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}

.modal-content input[type="submit"] {
    background-color: white;
    color: red;
    padding: 12px 20px;
    border-color: red;
    border-radius: 15px;
    cursor: pointer;
    float: right;
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#zhufu {
    width: 300px;
    margin-top: 80px;
}

#zhufu:hover {
    transform: scale(1.2);
}

#juankuanscroll {
    width: 260px;
    height: 350px;
    margin: 0 auto;
    overflow: auto;
    overflow-y: hidden;
}

#juankuanscroll ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

#juankuanscroll ul li {
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
}

#zhufuscroll {
    width: 300px;
    height: 150px;
    margin: 0 auto;
    overflow: auto;
    overflow-y: hidden;
}

#zhufuscroll ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

#zhufuscroll ul li {
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
}

.slideBox {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
}

.slideBox .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    left: 45%;
    bottom: 5px;
    z-index: 11;
}

.slideBox .hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
}

.slideBox .hd ul li {
    float: left;
    margin-right: 2px;
    width: 15px;
    height: 15px;
    line-height: 14px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.slideBox .hd ul li.on {
    background: #f00;
    color: #fff;
}

.slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}

.slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
}

.slideBox .bd img {
    width: 100%;
    height: 500px;
    display: block;
}

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next {
    position: absolute;
    left: 3%;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 32px;
    height: 40px;
    background: url(../images/slider-arrow.png) -110px 5px no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.slideBox .next {
    left: auto;
    right: 3%;
    background-position: 8px 5px;
}

.slideBox .prev:hover,
.slideBox .next:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

.slideBox .prevStop {
    display: none;
}

.slideBox .nextStop {
    display: none;
}

.dynamic-menu {
    line-height: 40px;
    height: 40px;
    padding-left: 5%;
    padding-top: 10px;
}
.dynamic-menu li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    float: left;
    cursor: pointer;
}
.dynamic-menu li.on {
    color: red;
    border-bottom: 1px solid red;
}

.clear:before,
.clear:after {
    content: "";
    display: table;
}
.clear:after {
    clear: both;
}
.clear {
    *zoom: 1; /*IE/7/6*/
}

.lf {
    float: left;
}
.rt {
    float: right;
}

.db {
    display: block;
}

.dynamicImg {
    width: 35%;
}

.dynamicArticle {
    color: #808080;
    font-size: 16px;
    line-height: 30px;
}

.dynamicMain {
    position: relative;
    margin-top: 10px;
    padding: 0;
    /* position: relative; */
    background-color: #fff;
    width: 80%;
    /* margin: auto; */
    box-shadow: 3px 3px 10px #666666;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    min-width: 1200px;
}
.dynamicMain div.w1200 {
    background: #fff;
}
.dynamicMain .bd {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}
.dynamicTit {
    border-bottom: 1px solid red;
    height: 41px;
    line-height: 41px;
}
.dynamicMain .bd ul {
    overflow: hidden;
    zoom: 1;
}
.dynamicMain .bd ul li {
    padding-top: 20px;
}
.dynamicMain .bd ul li div.rt {
    width: 60%;
}
.dynamicTit span {
    font-size: 14px;
    display: block !important;
}
.dynamicTit a {
    font-size: 20px;
    width: 80%;
    overflow: hidden;
    max-height: 42px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.dynamicArticle {
    color: #808080;
    font-size: 16px;
    line-height: 30px;
}
.dynamicImg {
    width: 35%;
}
.dynamicMain .hd {
    height: 72px;
    line-height: 72px;
    position: relative;
}
.more {
    width: 6%;
    height: 100%;
    background: url("../img/more.png") no-repeat;
    position: absolute;
    bottom: -2px;
    right: -2px;
}
.dynamicMain .hd div {
    width: 11%;
    margin: 22px auto;
}
.hd .next,
.hd .prev {
    display: block;
    width: 12px;
    height: 21px;
    background: url("../images/icon.png") no-repeat 0 -50px;
    overflow: hidden;
    margin-right: 15px;
    cursor: pointer;
}
.hd .prev {
    background-position: 0 0;
}
.dynamicMain .hd ul {
    margin-top: 6px;
    zoom: 1;
}

.dynamicMain h2 {
    position: relative;
    color: red;
    top: 0px;
    left: 0px;
    border-left: 5px red solid;
    font-family: "Microsoft Yahei";
    font-size: 24;
}
.dynamicMain .hd ul li {
    float: left;
    cursor: pointer;
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 15px;
    _display: inline;
    background: red;
    filter: alpha(opacity=30);
    opacity: 0.3;
    border-radius: 50px;
}
.dynamicMain .hd ul li.on {
    background: red;
    filter: alpha(opacity=100);
    opacity: 1;
}

.hide {
    display: none !important;
}
